[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=reference
X-Python-2-Compatible=false
Name=Reference
Comment=Reference Docker
